body {
    font-family: Arial, sans-serif;
    background-color: #aca7a7;
    color: #000000;
    margin: 0;
    padding: 20px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
button {
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
    background-color: #3a3a3a;
    color: #f5f5f5;
    border: 1px solid #555;
    border-radius: 4px;
}
button:hover {
    background-color: #555;
}
table {
    width: 100%;
    max-width: 900px;
    border-collapse: collapse;
    margin-top: 10px;
    table-layout: fixed;
    word-wrap: break-word;
}
th, td {
    border: 1px solid #ffffff;
    padding: 5px;
    text-align: center;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
input, textarea, select {
    width: 90%;
    max-width: 400px;
    padding: 5px;
    margin: 5px 0;
    border-radius: 4px;
    border: 1px solid #555;
    background-color: #2e2e2e;
    color: #f5f5f5;
}
textarea { resize: vertical; }
